
  .lang_Div{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    grid-gap: 10px;
    cursor: pointer;
    user-select: none;
  }
  .lang_Div span{
    position: relative;
    width: 50px;
    height: 40px;
    border:1px solid #B3C2BC;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width:500px){
    .lang_Div span{
      width: 40px !important;
      height: 30px !important;
    }
    .lang_Div span img{
      width: 40% !important;
    }
    .lang_Div{
      gap: 7px !important;
      grid-gap: 7px !important;
    }
    .lang_Div p{
      padding-left: 7px !important;
      font-size: 12px !important;
    }
  }
  .lang_Div p{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    padding-left: 10px;
     border-left: 1px solid #373737;
  }
  
  .lang_DropDown{
    position: absolute;
    width:100%;
    height: auto;
    top: 100%;
    z-index: 10;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    transform: translateY(10px);
    opacity: 0;
    -webkit-animation: FadeInTOp 0.3s ease forwards;
    -moz-animation: FadeInTOp 0.3s ease forwards;
    animation: FadeInTOp 0.3s ease forwards;
    display: none;
    overflow: hidden;
  }
  .lang_Div:hover .lang_DropDown{
    display: block;
  }
  @keyframes FadeInTOp{
    from{
      transform: translateY(10px);
      opacity: 0;
    }
    to{
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @-webkit-keyframes FadeInTOp{
    from{
      transform: translateY(10px);
      opacity: 0;
    }
    to{
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @-moz-keyframes FadeInTOp{
    from{
      transform: translateY(10px);
      opacity: 0;
    }
    to{
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  .lang_DropDown li{
    position: relative;
    width: 100%;
    height: auto;
    padding:8px 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .lang_DropDown li:hover{
    background-color: #DDE6E8;
  }
  
  /* Sub_Nav */
  .Sub_Nav{
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 62px;
    background-color: #F3F6F7;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  @media screen and (max-width:1100px){
    .Sub_Nav{
      position: relative !important;
    }
  }
  .site-container{
    height: 100%;
  }
  
  .Sub_Nav_Content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .SubNav_L{
    position: relative;
    height: 100%;
  }
  @media screen and (max-width:1100px){
    .SubNav_L{
      display: none !important;
    }
  }
  .SubNav_L ul.SsL_Ull{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .SubNav_L ul.SsL_Ull li{
    position: relative;
    height: 100%;
  }
  .SubNav_L ul.SsL_Ull li a{
    position: relative;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 5px 15px;
    gap: 7px;
    grid-gap: 7px;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border-right: 1px solid #E4E4E4;
  }
  .SubNav_L ul.SsL_Ull li a img{
    width: 9px !important;
    opacity: 0.8;
  }
  .SubNav_L ul.SsL_Ull li a:hover{
    background-color: #DDE6E8;
  }
  
  .SubNav_L ul.SsL_Ull li a.Ssshs-Icon{
    background-color: #18BFFF;
    color: #000;
  }
  .SubNav_L ul.SsL_Ull li a.healthcare-Icon img{
    opacity: 1;
  }
  .SubNav_L ul.SsL_Ull li a.healthcare-Icon:hover{
    background-color: #00B1F4;
  }

 

  
  /* Reg_SecO */
  .Reg_SecO{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .Simp_Oosi{
    display: block !important;
  }
  .Reg_banner{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #111827;
    background-image: url(./assets/Img/reg-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .Reg_Env{
    position: relative;
    width: 600px;
    height: auto;
    min-height: 100vh;
    padding-bottom: 40px;
  }
  .Simp_Oosi .Reg_Env{
    width: 100% !important;
  }
  @media screen and (max-width:1200px){
    .Reg_Env{
      width: 500px !important;
    }
  }
  @media screen and (max-width:1100px){
    .Reg_SecO{
      display: block !important;
    }
    .Reg_banner{
      display: none !important;
    }
    .Reg_Env{
      width: 100% !important;
    }
  }
  
  .Top_Nav_l{
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  @media screen and (max-width:500px){
    .Top_Nav_l{
      padding: 0px 30px !important;
    }
  }
  
  @media screen and (max-width:400px){
    .Reg_Tt_NAva .Rr_Sec_D .lang_Div{
      display: none !important;
    }
  }
  
  .Top_Nav_l_main{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    grid-gap: 15px;
  }
  
  .Top_Nav_l_main ul.Rr_Nav_Ul{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    grid-gap: 10px;
  }
  
  .Top_Nav_l_main ul.Rr_Nav_Ul li a{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    grid-gap: 7px;
    font-size: 16px;
    padding: 5px 15px;
    border:1px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  @media screen and (max-width:500px){
    .Top_Nav_l_main ul.Rr_Nav_Ul li a{
      font-size: 15px !important;
    }
  }
  .Top_Nav_l_main ul.Rr_Nav_Ul li a:hover{
    opacity: 0.8;
  }
  
  .Top_Nav_l_main ul.Rr_Nav_Ul li a.signup_btn{
    background-color: #0055FF;
    color: #fff !important;
    font-weight: 500;
    padding: 8px 15px;
  }
  
  
  .Reg_Form_Sec{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  
  .Simp_Oosi .Reg_Form_Sec{
    margin-top: 50px !important;
  }
  
  @media screen and (max-width:1100px){
    .Reg_Form_Sec{
      margin-top: 40px !important;
    }
  }
  
  .Reg_Form_Box{
    position: relative;
    width: 430px;
    height: auto;
  }
  
  @media screen and (max-width:600px){
    .Reg_Form_Box{
      width: 90% !important;
    }
  }
  
  .Reg_Header{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    grid-gap: 20px;
  }
  
  .Reg_Header h3{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
  }
  @media screen and (max-width:300px){
    .Reg_Header h3{
      font-size: 20px !important;
    }
  }
 
  @media screen and (max-width:300px){
    .Reg_Header button{
      font-size: 13px !important;
    }
    .Reg_Header button img{
      width: 25px !important;
    }
  }
  .Reg_Header button:hover{
    background-color: #F0F5FF;
  }
  
  .Reg_Header p{
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #E2E2E2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .Reg_Header p span{
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    color: #7B7B7B;
    font-weight: 500;
    font-size: 15px;
  }
  
  .Reg_Form{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  
  .form-group,
  .Reg_Input{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 15px;
  }
  .login_btn,
  .form-group button,
  .form-group input,
  .Reg_Input button,
  .Reg_Input input{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0px 12px;
    border:1px solid #AEAEAE;
    border-radius: 8px;
    font-size: 14px;
  }
  .form-group input::placeholder,
  .Reg_Input input::placeholder{
    color: #727272;
  }
  
  .form-group input:focus,
  .Reg_Input input:focus{
    border-color: #0055FF;
    border-width: 2px;
  }
  
  .password-wrapper,
  .Reg_Pass{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
  .password-wrapper input,
  .Reg_Pass input{
    padding-right: 40px;
  }
  .ShowHidePass{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .ShowHidePass img{
    width: 20px;
  }
  
  .Reg_Input a{
    color: #0055FF;
    font-size: 13px;
    white-space: nowrap;
  }
  .Reg_Input a:hover{
    text-decoration: underline;
  }
  
  .login_btn,
  .Reg_Input button,
  .Reg_Input input[type="submit"]{
    background-color: #0055FF;
    color: #fff;
    border-color: #0055FF;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  .login_btn:hover,
  .Reg_Input button:hover,
  .Reg_Input input[type="submit"]:hover{
    background-color: #0048DD;
    border-color: #0048DD;
  }
  .Forget_pass,
  .Reg_Input p{
    font-size: 14px !important;
    color: #5f6368 !important;
  }
  .Forget_pass a,
  .Reg_Input p a{
    font-size: 14px !important;
  }
  